@use "vuetify" with (
  $body-font-family: "Anek Latin"
);

@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");

a {
  text-decoration: none;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.custom-input {
  .v-field {
    border-radius: 12px;
    overflow: hidden;
  }
}

.ls-3 {
  letter-spacing: 3px !important;
}

.lh-20 {
  line-height: 20px !important;
}

.py-container {
  padding: 100px 0 32px;

  @media (min-width: 1024px) {
    padding: 100px 0 64px;
  }
}

.px-container {
  padding-left: 20px !important;
  padding-right: 20px !important;

  @media (min-width: 1024px) {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

.p-mobile {
  padding: 32px 20px 64px 20px !important;

  @media (min-width: 1024px) {
    padding: 64px 0 !important;
  }
}
